.gameName {
    text-transform: uppercase;
    font-size: 250%;
}

.navbar {
      border: none;
      margin-bottom: 0;
      border-radius: 0;
      color: #005aa7;
      background-color: #e0e5e2;
      text-align: center;
      font-size: x-large;
    }
    


.sidenav {
          padding-top: 20px;
          background-color: #e0e5e2;
          display: table-cell;
          height: 1000px;
            font-size: large;
}


.green {
    color: #30d830;
    font-size: large;
}

.blue {
    color: #1a6ef5;
    font-size: large;
}

.activeSidebar {
    background-color: #e9f2ef;
    font-size: x-large;
}
.notActive {
    background-color: #e0e5e2;
    font-size: large;
   
}

footer {
    background-color: #d3e6dc;
    color: #0c62eb;
    padding: 15px;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
 }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

.btn-group {
    padding: 5px;
}

.btn-box {
    width: 70px; 
    height: 70px;
    margin-right: 5px; 
    margin-bottom: 5px;
    background-color: #6E97D5;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.btn-box:hover {
    background-color: #86b9ff;
}

.btn-modal {
    width: 150px;
    padding: 15px;
}
.btn-modal-correct {
    
    background-color: #26c926;
    margin-right: 50px;
}

.btn-modal-wrong {
    background-color: #d61919;
    margin-left: 50px;
}

.btn-footer {
    margin-right: 20px; 
    margin-left: 20px;
}

.modal-body {
    font-size: 400%;
}

.fieldActive {
    color: blue;
    font-weight: bold;
    font-size: large;
}

.fieldUnactive {
    color: gray;
    font-size: large;
}

th, td {
    padding: 5px;
    text-align: center;
}

table {
    margin: 0 auto; 
  }
