.gameName img {
        float: left;
        margin-top: 0px;
}

.gameName {
    text-transform: uppercase;
    font-size: 200%;
        margin-top: 20px;
}

.navbar {
      font-family: "Arial Rounded MT";
      font-weight: bold;
      border: none;
      margin-bottom: 0;
      border-radius: 0;
      color: #4d4d4d;
      background-color: white;
      text-align: center;
      font-size: x-large;
    }

.sidenav {
    font-family: "Arial Rounded MT";
    padding-top: 20px;
    font-size: x-large; 
    font-weight: bold;
    border-radius: 5px;
    
}


.gameBoard {
    background-color: #ffffd1;
    height: 1000px;
}


.green {
    margin-top: 100px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    background-color:rgba(244, 183, 101, 0.84);
}

.blue {
    margin-top: 100px;
    color: white;
    font-size: x-large;
    background-color:rgba(236, 53, 27, 0.84);
}


footer {
    background-color: white;
    padding: 15px;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    font-family: "Arial Rounded MT";
    font-weight: bold;
 }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

.btn-group {
    padding: 5px;
}

.btn-box {
    width: 70px; 
    height: 70px;
    margin-right: 5px; 
    margin-bottom: 5px;
    background-color: #f5ce90;
}

.btn-box:hover {
    background-color: #eab869;
}

.btn-closed {
    pointer-events: none;
    background-color: #c4ffc9;
}

.btn-modal {
    width: 150px;
    padding: 15px;
}
.btn-modal-correct {
    background-color: #26c926;
    margin-right: 50px;
}

.btn-modal-wrong {
    background-color: #d61919;
    margin-left: 50px;
}

.btn-footer {
    background-color:white;
    color: #4d4d4d;
    padding: 5px;
    margin-right: 20px; 
    margin-left: 20px;
    border:none;
}

.btn-footer:hover {
    color: #ec351b;
}

.modal-body {
    font-size: 400%;
}

.fieldActive {
    color: orangered;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
}

.fieldUnactive {
    color: #4d342b;
    font-size: large;
    margin-top: 10px;

}

th, td {
    padding: 5px;
    text-align: center;
}

table {
    margin: 0 auto; 
}


.well {
     background-color: #ffffd1;
}

.inputForm {
    font-family: "Arial Rounded MT";
    font-weight: bold;
    color: #4d4d4d;
}

#submitButton {
    color: white;
    background-color: rgba(242, 55, 32, 0.96);
    border-radius: 5px;
    border: none;
    padding: 10px;
     font-family: "Arial Rounded MT";
    font-weight: bold;
}
